a{
    color: #5c5a58;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: #6bd5f4;
}
#Deiv{
    width: 100%;
}
#Deiv img{
    margin: auto;
    padding: auto;
    width: 90%;
    display: block;
}